body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}
.teste1{
    width: 200px;
    height: 200px;
    border: 15px solid gray;
    border-radius: 50%;
    border-right-color: white;
    animation: girar 1s infinite linear;

}
@keyframes girar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}